.card-body{
    padding: 0;
}
.Jobs .rightCard p{
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
}
.Jobs .rightCard .card-title{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.9rem;
}

.Jobs .rightCard .actionButton{
    padding: 1.25rem;
}
.Jobs .rightCard .resumeBuilder{
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 5px;
}
.Jobs .rightCard .card-body{
    padding: 0;
}
.Jobs .resumeBuilder img{
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}
.Jobs .middleCard .keyWords{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Jobs .jobListHeader{
    padding-top: 0.9rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.Jobs .middleCard .fa{
    font-size: 1.5rem;
    color: #8e8e8e;
}
.Jobs .middleCard ul {
    list-style: none;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}
.Jobs .middleCard li{
    padding: 4px;
}
.Jobs .middleCard ul .fa{
    font-size: 15px;
    color: #0077B5;
}
.Jobs .middleCard ul a{
    background-color: #fff;
    border: 1px solid #0077B5;
    border-radius: 40px;
    color: #0077B5;
    padding: 5px !important;
    font-size: 12px;
    font-weight: bold;
}
.Jobs .middleCard ul a:hover{
    background-color: #e2f0fe;
    text-decoration: none;
    font-weight: bold;
}
.Jobs .middleCard .card-body{
    padding-left: 1rem;
    padding-right: 1rem;
}
.Jobs .middleCard .jobList{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid #e1e0e0 ;
}
.Jobs .JobImgContent{
    display: flex;
    justify-content: space-between;
}
.Jobs .middleCard .jobListContent{
    display: inline-grid;
}
.Jobs .jobListContent small{
    margin: 2px;
}
.Jobs .jobList img{
    width: 50px;
    height:50px;
    object-fit: cover;
    margin-right: 20px;
}
.Jobs .jobListContent .fa{
    font-size: 15px;
    color: #3c86cf;
}
.Jobs .jobListContent h6{
    color: #3c86cf;
}
.Jobs .companyName{
    color: #000;
}
.Jobs .time{
    color: #2c8b60;
    font-weight: bold;
    margin-bottom: 20px !important;
}
.Jobs .badge{
    font-size: 12px;
    font-weight: normal;
}
.Jobs .saveJob{
    border-radius: 40px;
    height: 50px;
    width: 50px;
}
.Jobs .saveJob:hover{
    background-color: #ebebeb;
    height: 50px;
    width: 50px;
}
.Jobs .middleCard .card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Jobs .showAll{
    color: #787676;
    width: 100%;
}
.Jobs .showAll:hover{
    text-decoration: none;
    color: #787676;
}
.Jobs .leftCard .card-body{
    padding: 1.25rem;
    color: #666666;
    font-weight: bold;
    display: inline-grid;
}
.Jobs .leftCard .fa{
    font-size: 1.2rem;
    color: #666666;
    margin-right: 10px;
}
.Jobs .leftCard p{
    display: flex;
    align-items: center;
    color: #666666;
}
.Jobs .postJobBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #0077B5;
    border-radius: 40px;
    color: #0077B5;
    width: 100%;
    padding: 10px;
}