.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
.rowBackgroundImg{
    background-image: url("https://t3.ftcdn.net/jpg/02/21/90/22/360_F_221902233_dVRtPojWB62WzEZ6zc2cgv6gIgSbuzdO.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}

.loginContainer .card{
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    width: 600px;
    border: none;
}
.loginLeftContainer{
    height: 100vh;
}
.loginImage{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    padding: 10px;
    border-radius: 20px !important;
}
.card{
    background-color: #fff;
    border-radius: 10px;
}
.registerBtn{
    background-color: #000;
    width: 100%;
    border-radius: 10px;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.registerBtn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #939393;
    transition: 0.5s;
}

.form-check{
    margin-left: auto;
}
input{
    background-color: transparent !important;
    border-radius: 10px !important;
}

.forgotPassword{
    float: right;
    padding: 10px
}


.profileImageContainer{
    float: right;
    color: #545454 !important;
    text-decoration: underline;
}
.profileImage{
    width: 50px !important;
    height: 50px !important;
    object-fit: cover !important;
    border-radius: 20px !important;
    border: 1px solid #d9d9d9;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileImageLoad{
    cursor: pointer;
}
.profileImageLoad:hover{
    color: #000 !important;
}
.welcomeLoginMessage{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .loginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginLeftContainer {
        display: none;
    }

    .loginContainer .card {
        width: 100%;
        border-radius: 0px;
    }

    .rowBackgroundImg {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .loginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginLeftContainer {
        display: none;
    }

    .loginContainer .card {
        width: 100%;
        border-radius: 0;
    }

    .rowBackgroundImg {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .registerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginLeftContainer {
        display: none;
    }

    .loginContainer .card {
        width: 100%;
        border-radius: 0;
    }

    .rowBackgroundImg {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .registerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginContainer .card {
        width: 100%;
        border-radius: 0;
    }

    .rowBackgroundImg {
        display: none;
    }
}
