.card-body{
    padding: 0;
}
.notification .rightCard p{
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
}
.notification .rightCard .card-title{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.9rem;
}

.notification .rightCard .actionButton{
    padding: 1.25rem;
}
.notification .rightCard .resumeBuilder{
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 5px;
}
.notification .rightCard .card-body{
    padding: 0;
}
.notification .resumeBuilder img{
    width: 80px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}
.notification .middleCard .keyWords{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification .jobListHeader{
    padding-top: 0.9rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.notification .middleCard .fa{
    font-size: 1.5rem;
    color: #8e8e8e;
}
.notification .middleCard ul {
    list-style: none;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
}
.notification .middleCard li{
    padding: 4px;
}
.notification .middleCard ul .fa{
    font-size: 15px;
    color: #0077B5;
}
.notification .middleCard ul a{
    background-color: #fff;
    border: 1px solid #0077B5;
    border-radius: 40px;
    color: #0077B5;
    padding: 5px !important;
    font-size: 12px;
    font-weight: bold;
}
.notification .middleCard ul a:hover{
    background-color: #e2f0fe;
    text-decoration: none;
    font-weight: bold;
}
.notification .middleCard .card-body{
    padding: 0;
    margin: 0;
}
.notification .middleCard .jobList{
    display: flex;
    justify-content: space-between;
    border: none;
    width: 100%;
    text-decoration: none;
    padding: 20px;
}
.notification .middleCard .jobList:hover{
    background-color: #f4f4f4;
}

.notification .JobImgContent{
    display: flex;
    justify-content: space-between;
}
.notification .middleCard .jobListContent{
    display: inline-grid;
}
.notification .jobListContent small{
    margin: 2px;
}
.notification .jobList img{
    width: 50px;
    height:50px;
    object-fit: cover;
    margin-right: 20px;
}
.notification .jobListContent .fa{
    font-size: 15px;
    color: #3c86cf;
}
.notification .jobListContent h6{
    color: #3c86cf;
}
.notification .companyName{
    color: #000;
}
.notification .time{
    color: #2c8b60;
    font-weight: bold;
    margin-bottom: 20px !important;
}
.notification .badge{
    font-size: 12px;
    font-weight: normal;
}
.notification .saveJob{
    border-radius: 40px;
}
.notification .saveJob:hover{
    background-color: #ebebeb;
}
.notification .middleCard .card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.notification .showAll{
    color: #787676;
    width: 100%;
}
.notification .showAll:hover{
    text-decoration: none;
    color: #787676;
}
.notification .leftCard .card-body{
    padding: 1.25rem;
    color: #666666;
    font-weight: bold;
    display: inline-grid;
}
.notification .leftCard .fa{
    font-size: 1.2rem;
    color: #666666;
    margin-right: 10px;
}
.notification .leftCard p{
    display: flex;
    align-items: center;
    color: #666666;
}
.notification .postJobBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #0077B5;
    border-radius: 40px;
    color: #0077B5;
    width: 100%;
    padding: 10px;
}
.notification .adsButton{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #0077B5;
    border-radius: 40px;
    color: #0077B5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.notification .card-footer{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification span{
    font-size: 14px;
    color: #666666 !important;
}
.notification .viewJobs{
    background-color: transparent;
    color: #3c86cf !important;
    font-weight: bold;
    width: 40%;
    border-radius: 40px;
    border: 1px solid #3c86cf;
    margin-top:5px;
}
.notification .viewJobs:hover{
    background-color: #e0efff;
}
.notification .hourActionContainer{
    display: grid;
    text-align: right;
}
.notification .hourActionContainer small{
    margin-right: 12px;
}
.notification .userNotificationAvatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}